-# locals passed (contacts [Contact Object collection])
- if @contacts.empty?
  .alert.alert-danger No contacts
- else
  %table.table
    %thead
      %tr
        %th First name
        %th Last name
        %th Email
        %th Mobile
        %th Home phone
        %th Office phone
        %th Street address
        %th City
        %th State
        %th Country
        %th
        %th
        %th

    %tbody
      - contacts.each do |contact|
        %tr
          %td= contact.first_name
          %td= contact.last_name
          %td= contact.email
          %td= contact.mobile
          %td= contact.home_phone
          %td= contact.office_phone
          %td= contact.street_address
          %td= contact.city
          %td= contact.state
          %td= contact.country
          %td
            = link_to contact do
              .btn.btn-info
                %i.fa.fa-eye
                %span Show
          %td
            = link_to edit_contact_path(contact) do
              .btn.btn-success
                %i.fa.fa-edit
                %span Edit
          %td
            = link_to contact, :method => :delete, :data => { :confirm => 'Are you sure?' } do
              .btn.btn-danger
                %i.fa.fa-trash
                %span Destroy

%br