-# locals passed (contacts [Contact Object collection])
- if @contacts.empty?
  .alert.alert-danger No contacts
- else
  %table.table.table-striped#table_contacts
    %thead
      %tr
        %th Full Name
        %th Email
        %th Mobile
        %th Actions
    %tbody
      - contacts.each do |contact|
        %tr
          %td.full_name= link_to "#{contact.full_name || '-'}", contact
          %td.email= contact.email || '-'
          %td.mobile= contact.mobile || '-'
          %td
            = link_to contact, :class => 'btn btn-xs btn-info show_contact' , :title => 'View'  do
              %i.fa.fa-eye
            %span
            = link_to edit_contact_path(contact), :class => 'btn btn-xs btn-warning edit_contact' , :title => 'Edit' do
              %i.fa.fa-edit
            %span
            = link_to contact, :method => :delete, :class => 'btn btn-xs btn-danger delete_contact' , :title => 'Delete', :data => { :confirm => 'Are you sure?' } do
              %i.fa.fa-trash
