= form_for @contact do |f|
  - if @contact.errors.any?
    #error_explanation
      %h4= "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:"
      %ul.alert-danger
        - @contact.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .field
      = f.label :first_name, :class => 'form-label'
      = f.text_field :first_name, :class => 'form-control', :placeholder => 'Example: Jon'
    .field
      = f.label :last_name, :class => 'form-label'
      = f.text_field :last_name, :class => 'form-control', :placeholder => 'Example: Doe'
  .form-group
    .field
      = f.label :email, :class => 'form-label'
      = f.text_field :email, :class => 'form-control', :placeholder => 'Example: email@domain.com'
    .field
      = f.label :mobile, :class => 'form-label'
      = f.text_field :mobile, :class => 'form-control', :placeholder => 'Example: +977 9877665544'
  %br
  %hr
  .form-group
    .actions
      .col-md-6
        = link_to 'Back', _back_url, :class => 'btn btn-default btn-block', :id => 'back'
      .col-md-6
        = f.submit 'Save', :class => 'btn btn-primary btn-block', :id => 'save_contact'
