%p#notice.bg-success= notice

%h1.title View Contact
%hr

.pull-right
  = link_to edit_contact_path(@contact), :class => 'btn btn-warning' do
    %i.fa.fa-edit
    %span Edit
  = link_to @contact, :method => :delete, :class => 'btn btn-danger' , :title => 'Delete', :data => { :confirm => 'Are you sure?' } do
    %i.fa.fa-trash
    %span Delete

%br
%br
%table.table.table-bordered
  %tr
    %td
      %b First name:
    %td
      = @contact.first_name
  %tr
    %td
      %b Last name:
    %td
      = @contact.last_name
  %tr
    %td
      %b Email:
    %td
      = @contact.email
  %tr
    %td
      %b Mobile:
    %td
      = @contact.mobile
  %tr
    %td
      %b Permalink:
    %td
      = @contact.permalink

